<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="distribuidor" style="z-index: 99999900;">
    <div class="modal-dialog" style="z-index: 99999900;">
      <div class="modal-content contend_2" style="z-index: 99999900;">
        <div class="modal-body body_2" style="padding: 0 0 0 0; z-index: 99999900;">
            <div class="imagen_defect">
                <div class="img">
                    <div class="rojo">
                        <h3 class="grupo">GRUPO GLACER</h3>
                        <h4 class="best">TU MEJOR ELECCIÓN</h4>
                    </div>
                </div>
                <div class="texto_info" >
                    <form action="https://formsubmit.co/chikitocardenas104@gmail.com" method="post" class="form_reg rr2 form_V" enctype="multipart/form-data">
                        <h2 class="tit">Formulario de solicitud</h2>
                        <div class="campos">
                            <div class="form-group campos_p P_altura">
                                <label for="Nombre" class="lab">Nombre completo:</label>
                                <input type="text" name="Nombre" class="form-control inpt" required>
                                <span class="span_nombre spanE">Error !! el formato es: Aaa Aaa Aaa</span>
                                <label for="Puesto" class="lab">Puesto:</label>
                                <input type="text" name="Puesto" class="form-control inpt" required>
                                <span class="span_puesto spanE">Error !!, usar mayúsculas y minúsculas </span>
                                <label for="N_negocio" class="lab">Nombre del negocio:</label>
                                <input type="text" name="N_negocio" class="form-control inpt" placeholder="" required>
                                <span class="span_n_negocio spanE">Error !! usar mayúsculas y minúsculas</span>
                                <label for="Giro" class="lab">Giro comercial:</label>
                                <input type="text" name="Giro" class="form-control inpt" required>
                                <span class="span_giro spanE">Error !! usar mayúsculas y minúsculas</span>
                            </div>
                            <div class="form-group campos_p P_altura">
                                <label for="Ubicacion" class="lab">Ubicación del lugar:</label>
                                <input type="text" name="Ubicacion" class="form-control inpt" placeholder="" required>
                                <span class="span_ubicacion spanE">El formato es: Calle 123, CP, localidad, Municipio</span>
                                <label for="Correo" class="lab">Correo: </label>
                                <input type="text" name="Correo" class="form-control inpt" placeholder="" required>
                                <span class="span_correo spanE">Error !! debe seleccionar una opción.</span>
                                <label for="Telefono" class="lab">Teléfono:</label>
                                <input type="number" name="Telefono" class="form-control inpt" placeholder="" required>
                                <span class="span_telefono spanE">Error !! debe seleccionar una opción</span>
                                <label for="Experiencia" class="lab">Experiencia:</label>
                                <input type="text" name="Experiencia" class="form-control inpt" placeholder="" required>
                                <span class="span_experiencia spanE">Error !! el campo es obligatorio</span>
                                <button type="submit" class="float-right btn-registro Form_Gen">Enviar</button>
                            </div>  
                        </div>
                        <input type="hidden" name="_next" value="http://127.0.0.1:5002">
                        <input type="hidden" name="_captcha" value="false">
                        <!--<input type="hidden" name="_template" value="false">-->
                    </form>
                </div>
            </div>
            <!--<div class="footer">
                <div class="textcont">Comunícate con nosotros en las siguientes fuentes de contacto, para ponernos de acuerdo.</div>
                <div class="tel">
                    <h3 class="cel">Teléfono: 729   769   6455</h3>
                    <h3 class="cel">Teléfono: 729   271   6402</h3>
                </div>
                <div class="cel">
                    Correo: Admon_corporativo@yahoo.com.mx 
                </div>
            </div>-->
        </div>
    </div>
</div>
</div>