<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="Mminato">
    <div class="modal-dialog">
      <div class="modal-content mmmop1">
        <div class="modal-body mmmop2" style="padding: 0 0 0 0;">
            <div class="title"><h3 class="titulo_m">Elija una medida</h3></div>
            <div class="contenedor_m">
                <div class="medida"><a href="#60x60" class="nombre">60x60</a></div>
                <div class="medida"><a href="#60x120" class="nombre">60x120</a></div>
                <div class="medida"><a href="#22x60" class="nombre">22x60</a></div>
            </div>
        </div>
    </div>
</div>
</div>
















