<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="Mvitro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body bod_men" style="padding: 0 0 0 0;">
            <div class="title"><h3 class="titulo_m">Elija una medida</h3></div>
            <div class="contenedor_m">
                <div class="medida"><a href="/vitroPisos" class="nombre">20x20</a></div>
                <div class="medida"><a href="/vitro_20x30" class="nombre">20x30</a></div>
                <div class="medida"><a href="/vitro_30x60" class="nombre">30x60</a></div>
                <div class="medida"><a href="/vitro_36x36" class="nombre">36x36</a></div>
                <div class="medida"><a href="/vitro_36x50" class="nombre">36x50</a></div>
                <div class="medida"><a href="/vitro_37x37" class="nombre">37x37</a></div>
                <div class="medida"><a href="/vitro_45x45" class="nombre">45x45</a></div>
                <div class="medida"><a href="/vitro_50x100" class="nombre">50x100</a></div>
                <div class="medida"><a href="/vitro_55x55" class="nombre">55x55</a></div>
                <div class="medida"><a href="/vitro_60x60" class="nombre">60x60</a></div>
                <div class="medida"><a href="/vitro_60x120" class="nombre">60x120</a></div>
                <!--<div class="medida"><a href="/vitro_61x61" class="nombre">61x61</a></div>
                <div class="medida"><a href="/vitro_62x62" class="nombre">62x62</a></div>-->
                <div class="medida"><a href="/Vitro_duelas" class="nombre">Duelas</a></div>
                <div class="medida"><a href="/Vitro_otras" class="nombre" id="otrasM">Más</a></div>
            </div>
        </div>
    </div>
</div>
</div>
















