<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="Mdaltile">
    <div class="modal-dialog">
      <div class="modal-content ">
        <div class="modal-body bod_men" style="padding: 0 0 0 0;">
            <div class="title"><h3 class="titulo_m">Elija una medida</h3></div>
            <div class="contenedor_m">
                <div class="medida"><a href="/Daltile_30x45" class="nombre">30x45</a></div>
                <div class="medida"><a href="/Daltile_37x37" class="nombre">37x37</a></div>
                <div class="medida"><a href="/Daltile_45x45" class="nombre">45x45</a></div>
                <div class="medida"><a href="/Daltile_60x60" class="nombre">60x60</a></div>
                <div class="medida"><a href="/Daltile_duelas" class="nombre">Duelas</a></div>
                <div class="medida"><a href="/Daltile_otras" class="nombre">Más</a></div>                
            </div>
        </div>
    </div>
</div>
</div>
















