*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('/static/img/room_log.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* ---------------------------------------------- Sección del Login ------------------ */

/* ---------- Estilos para contenedor principal -------- */
.login_main{
    background-color: #ffffff;
    display: flex;
    width: 600px;
    height: 400px;
    margin: 125px auto;
    box-shadow: 3px 8px 15px rgb(104, 104, 104);
    z-index: 1;
}
.hola::se
.mensajes{
    width: 300px;
    position: absolute;
    left: 520px;
    z-index: 2;
}
#mens_flash{
    position: absolute;
    top: 6%;
    left: 37%;
    width: 26%;
}
.alert{
    background-color: #b9b9b9;
}
/* ---------- Estilos para el logo y nombre de la empresa -------- */
.logos_login{
    background-color: #EDEDED;
    width: 300px;
}
.logo{
    width: 140px;
    height: 120px;
    display: block;
    margin: 40px auto;
}

.Empresa_name{
    width: 280px;
    margin: 70px auto;
    text-align: center;
    font-family: Arial;
    font-size: 21px;
    text-shadow: 0px 4px 3px#686868;
}
.nombre_em{
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-size: 46px;
  font-style:normal;
}
.Gla{
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 350;
  font-size: 30px;
  font-style:normal;
  margin-top: -8px;
}
.rojo{
  color: rgb(185, 0, 0);
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-size: 19px;
  font-style:normal;
}

/* ---------- Estilos para el formulario y campos -------- */
.campos_login{
    background-color: white;
    width: 300px;
}
.formulario{
    margin: 25px auto;
    background-color: rgb(255, 255, 255);
    width: 300px;
    justify-content: center;
}
.init{
    font-family: "Inter", sans-serif;
    font-size: 27px;
    font-weight: 400;
    font-optical-sizing:auto;
    font-style:normal;
    text-align: center;
    margin: 40px auto;
    color: rgb(97, 97, 97);
    letter-spacing: 1px;
    text-shadow: -1px 1px 1px rgb(122, 122, 122);
}
.nombre_u{
    font-size: 16px;
    font-family: Arial;
    margin-left: 42px;
    color: #686868;
}

.cont-nombre{
    margin-top: 43px;
}
.cont-nombre_pass{
    margin-top: 18px;
}
#username{
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(105, 105, 105); 
    padding-left: 5px;
    height: 28px;
    width: 200px;
    transform: translateX(46px);
}
#username:focus{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(122, 122, 122); 
}
#password{
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(105, 105, 105); 
    padding-left: 5px;
    height: 28px;
    width: 200px;
    transform: translateX(46px);
}

#password:focus{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(122, 122, 122);
}
.acceso-btn{
    width: 70%;
    float: right;
    /* transform: translateX(126px); */
    margin-bottom: 5px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: #cccccc;
    padding:1px;
    font-size: 16px;
    border-style: none;
    border-radius: 20px;
    color: rgb(90, 90, 90);
    font-weight: 500;
    height: 30px;
}
.acceso-btn:hover{
    border-style: none;
    background-color: #ffffff;
    color: rgb(73, 73, 73);
    border-style: solid;
    border-color: #7a7a7a;
}
.mensaje_registro{
    margin: 2px auto;
    width: 200px;
    align-content: center;
    font-family: Arial;
}
.el_1{
    margin: 0 auto;
    color: #686868;
}
.mensaje{
    width: 140px;
    text-align: center;
}
.registrate{
    text-align: center;
    display: block;
    width: 70px;
    margin: 0 auto;
    text-decoration: none;
    color: rgb(185, 0, 0);
}

/* -------------------------------- Sección de Formulario Administrador ---------------- */

/* ---------- Estilos para el contenedor principal -------- */
.cont_principal{
    background-color: #ffffff;
    display: flex;
    width: 600px;
    height: 400px;
    margin: 125px auto;
    box-shadow: 3px 8px 15px rgb(104, 104, 104);
}

/* ---------- Estilos para el contenedor de logos -------- */
.cont_logos{
    background-color: #EDEDED;
    width: 300px;
}
.logo{
    width: 140px;
    height: 120px;
    display: block;
    margin: 40px auto;
}

.Empresa_name{
    width: 280px;
    margin: 70px auto;
    text-align: center;
    font-family: Arial;
    font-size: 21px;
    text-shadow: 0px 4px 3px#686868;
}
.nombre_em{
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-size: 46px;
  font-style:normal;
}
.Gla{
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 350;
  font-size: 30px;
  font-style:normal;
}
.rojo{
  color: rgb(185, 0, 0);
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-size: 19px;
  font-style:normal;
}

/* ---------- Estilos para el formulario-------- */
.cont_formu{
    background-color: white;
    width: 300px;
}
.formulario{
    margin: 25px auto;
    background-color: rgb(255, 255, 255);
    width: 300px;
    justify-content: center;
}
.title-t{
    margin: 5px auto;
    width: 200px;
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-weight: 450;
    font-size: 18px;
    font-style:normal;
    text-align: center;
    color: rgb(99, 99, 99);
    letter-spacing: 1px;
    text-shadow: -1px 1px 1px rgb(122, 122, 122);
}
.inpt{
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(105, 105, 105); 
    padding-left: 5px;
    margin-top: 17px;
    height: 28px;
    width: 230px;
    transform: translateX(32px);
    font-family: "Inter", sans-serif;
    font-weight: 350;
    font-size: 12px;
    font-style:normal;
}
.inpt:focus{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(122, 122, 122); 
}
.spani{
    font-family: "Inter", sans-serif;
    font-weight: 350;
    font-size: 12px;
    font-style:normal;
}
.form-botones{
    margin-top: 0px;
}
.btn-cancelar{
    display: inline-block;
    margin-left: 30px;
    padding: 3px;
    width: 75px;
    height: 26px;
    background-color: rgb(255, 50, 50);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-weight: 550;
    font-size: 13px;
    font-style:normal;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    text-decoration: none;
}
.btn-cancelar:hover{
    color: white;
}
.btn-close{
    padding: 4px;
}
.btn-registro{
    margin-left: 76px;
    width: 79px;
    height: 26px;
    background-color: #198754;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing:auto;
    font-weight: 550;
    font-size: 13px;
    font-style:normal;
    text-align: center;
    border-radius: 8px;
    border-style: none;
}
/* ---------- Estilos para  los span -------- */

.span_nombre {
    display: none;
    font-size: 12px;
}
.span_apellidos {
    display: none; 
    font-size: 12px;
}
.span_usuario {
    display: none; 
    font-size: 12px;
}
.span_contrasena {
    display: none; 
    font-size: 12px;
}
.span_confirmC {
    display: none; 
    font-size: 12px;
}
.span_direccion {
    display: none; 
    font-size: 12px;
}