<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="registrar-Castduelas">
    <div class="modal-dialog">
      <div class="modal-content mmmop1">
        <div class="modal-body mmmop2" style="padding: 0 0 0 0;">
            <div class="imagen_defect2">.</div>
            <form action="/regCast_duelas" method="post" class="form_reg rr2" enctype="multipart/form-data">
                <div class="form-group campos_p ">
                    <label for="Nombre" class="lab">Nombre:</label>
                    <input type="text" name="Nombre" class="form-control inpt" required>
                    <span class="span_text">Error !! el formato a seguir es: Lake Beige</span>
                    <label for="Codigo" class="lab">Codigo:</label>
                    <input type="text" name="Codigo" class="form-control inpt" placeholder="" required>
                    <span class="span_codigo">Error !! solo mayúsculas y números</span>
                    <label for="Precio" class="lab">Precio:</label>
                    <input type="number" name="Precio" class="form-control inpt" required>
                    <span class="span_precio">Error !! solo se aceptan números</span>
                    <label for="Material" class="lab">Material:</label>
                    <input type="text" name="Material" class="form-control inpt" required>
                    <span class="span_material">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Acabado" class="lab">Acabado:</label>
                    <input type="text" name="Acabado" class="form-control inpt" required>
                    <span class="span_acabado">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Marca" class="lab">Marca: </label>
                    <input type="text" name="Marca" class="form-control inpt" placeholder="" value="Castel" readonly>
                    <span class="span_marca">Error !! la marca es requerida.</span>
                    <label for="Calidad" class="lab">Calidad:</label>
                    <input type="text" name="Calidad" class="form-control inpt" value="Primera" readonly >
                    <span class="span_calidad">Error !! la calidad es importante</span>
                </div>
                <div class="form-group Campos_P2">
                    <label for="PrecioAnt" class="lab">Precio anterior:</label>
                    <input type="text" name="PrecioAnt" class="form-control inpt" required>
                    <span class="span_PrecioAnt">Error !! el precio es obligatorio</span>
                    <label for="Color" class="lab">Color:</label>
                    <input type="text" name="Color" class="form-control inpt" placeholder="" required>
                    <span class="span_color">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Medida" class="lab">Medida:</label>
                    <select name="Medida" id="Medida" class="form-control inpt" required>
                      <option value="" selected disabled class="disable" sytle="color: gray;">Selecciona una opción </option>
                      <option value="30x45" class="form-control">30x45</option>
                      <option value="30x60" class="form-control">30x60</option>
                      <option value="60x60" class="form-control">60x60</option>
                      <option value="60x120" class="form-control">60x120</option>
                      <option value="18x60" class="form-control">18x60</option>
                      <option value="20x60" class="form-control">20x60</option>
                    </select>
                    <span class="span_medida">Error !! debe seleccionar una opción</span>
                    <label for="Contenido" class="lab">Contenido:</label>
                    <input type="number" name="Contenido" class="form-control inpt" required>
                    <span class="span_contenido">Error !! solo se aceptan números</span>
                    <label for="inptchaI" class="lab">Imagen:</label>
                    <input type="file" name="Imagen" class="form-control inpt" id="inptchaI" required>
                    <label for="inptchaI" class="lab">Imagen 2:</label>
                    <input type="file" name="IMG2" class="form-control inpt" id="inptchaI" required>
                    <button type="button" class="btn-cancelar" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button type="submit" class="float-right btn-registro">Registrar</button>
                </div>  
            </form>
        </div>
      </div>
    </div>
  </div>