<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Glacer Atlacomulco Vías</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/Catalogo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <header class="Cabecera_principal">
        <div class="cabeza">
            <a href="/Login" class="log">
                <img src="/static/img/Logo_circle.png" class="logo_g">
            </a>
            <p class="info_head">GLACER</p>
            <div class="name_comp">
                <p class="info_head glamour">GLACER</p>
                <p class="info_head tlaco">Glamour Cerámico</p>
            </div>
        </div>
        <div class="menu">
            <div class="barra_menu">
                <a href="/" class="opcion opt_uno">Inicio</a>
                <a href="/Catalogo_PM" class="opcion opt_dos" style="width: 150px;">Pisos y Muros</a>
                <a href="/Catalogo_Banos" class="opcion opt_tres">Baños</a>
                <a href="/Catalogo_Ofertas" class="opcion opt_cuatro">Ofertas</a>
                <button onclick="goBack()" class="opcion opt_cinco">Atrás</button>
            </div>
        </div>
    </header>
    <main class="cuerpo">
        <div class="depa_grif_catalog">
            <div class="gradiente" style="height: 250px; padding-top: 28px;">
                <h3 class="title_B">Departamento de grifería</h3>
                <h4 class="subtitle_B" style="margin-left: 100px;">Encuentra lo que necesitas a un mejor precio</h4>
            </div>
        </div>
        <div class="seccion_Marcas">
            <h3 class="marcas">ELIJE UNA CATEGORÍA</h3>
            <div class="conten_marcas uno">
                <div class="marca">
                    <img src="/static/img/Griferia/AccesoriosB.jpg" class="imagen" alt="Vitromex">
                    <a href="/Cat_AccesoriosB" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Accesorios</p>
                        </div>
                    </a>
                    <!--<div class="log_accesorios"></div>-->
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Asientos.jpg" class="imagen" alt="Daltile">
                    <a href="/Cat_Asientos" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Asientos</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Brazos.png" class="imagen" alt="Greda">
                    <a href="/Cat_Brazos" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Brazos</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Calentador Sol.webp" class="imagen" alt="Castel">
                    <a href="/Cat_Calentador_S" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Calentadores solares</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Calent_Paso.jpg" class="imagen" alter="Tecnopiso">
                    <a href="/Cat_Calentadores_P" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Calentradores de paso</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Campanas.jpg" class="imagen" alt="Minato">
                    <a href="/Cat_Campanas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Campanas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Cenefas.webp" class="imagen" alt="Cessatoni">
                    <a href="/Cat_Cenefas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Cenefas</p>
                        </div>
                    </a>
                    <!--<div class="log_cenefa"></div>-->
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Cespols.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Cespols" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Cespols</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Contracanastas.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Contracanasta" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Contra canastas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/DespenzadorJ.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Dispensadores" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Dispensadores</p>
                        </div>
                    </a>

                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Espejos.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Espejos" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Espejos</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Herramienta Coloc.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Herramientas_Col" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Herramientas de colocación</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/I.png" class="imagen" alt="ARKO">
                    <a href="/Cat_Impermeabilizantes" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Impermeabilizantes</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/VITRO.png" class="imagen" alt="ARKO">
                    <a href="/Cat_Kit_Install" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Kits de instalación</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Malals.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Mallas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Mallas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Manerales.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Manerales" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Manerales</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Mezcladora.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Mezcladoras" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Mezcladoras</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Monomandos.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Monomandos" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Monomandos</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Organizadores.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Organizadores" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Organizadores</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Ovalines.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Ovalines" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Ovalines</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/VITRO.png" class="imagen" alt="ARKO">
                    <a href="/Cat_Paneles_Canceles" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Paneles y canceles</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Parrillas.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Parrillas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Parrillas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Perfiles.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Perfiles" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Perfiles</p>
                        </div>
                    </a>

                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Persianas.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Persianas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Persianas</p>
                        </div>
                    </a>

                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Regaderas.jpeg" class="imagen" alt="ARKO">
                    <a href="/Cat_Regaderas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Regaderas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Repisas.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Repisas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Repisas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Resumideros.webp" class="imagen" alt="ARKO">
                    <a href="/Cat_Resumideros" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Resumideros</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Separadores.jpeg" class="imagen" alt="ARKO">
                    <a href="/Cat_Separadores" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Separadores</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Tarjas.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Tarjas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Tarjas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Tinas.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Tinas" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Tinas</p>
                        </div>
                    </a>
                </div>
                <div class="marca">
                    <img src="/static/img/Griferia/Tocadores.jpg" class="imagen" alt="ARKO">
                    <a href="/Cat_Tocadores" class="enlace cat_grif">
                        <div class="capa_cat">
                            <p class="verP">Tocadores</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="pie">
        <div class="cn Direccion">
            <h5 class="direc">Dirección</h5>
            <p class="directo">Av. Arturo Montiel Rojas no. 17, col. zona industrial, Atlacomulco, Estado de México.</p>
        </div>
        <div class="cn Telefonos">
            <h5 class="direc">Teléfonos</h5>
            <p class="directo tel"><i class="phone"></i> +55 52 43 78 65 10</p>
            <p class="directo tel"><i class="phone"></i> +55 71 22 16 44 03</p>
        </div>
        <div class="cn Correo">
            <h5 class="direc">Coreo</h5>
            <p class="directo tel"><i class="gmail"></i> admon_corporativo@yahoo.com.mx</p>
        </div>
        <div class="cn Redes">
            <h5 class="direc">Redes sociales</h5>
            <p class="directo tel"><i class="facebook"></i> Glacer_Vitromex_las_Vías</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="/static/js/atras.js"></script>
</body>
</html>