{%for inod in list_inod%}
<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="actualizar-inodoros{{inod.Id_Inodoro}}">
    <div class="modal-dialog">
      <div class="modal-content mmmop1">
        <div class="modal-body mmmop2" style="padding: 0 0 0 0;">
            <div class="imagen_defect2">.</div>
            <form action="{{url_for('Act_Inodoro', id=inod.Id_Inodoro)}}" method="post" class="form_reg rr2 upInodoro" enctype="multipart/form-data">
                <div class="form-group campos_p">
                    <label for="Nombre" class="lab">Nombre:</label>
                    <input type="text" name="Nombre_act" value="{{inod.Nombre}}" class="form-control inpt"  required>
                    <span class="span_text">Error !! el formato a seguir es: Inodoro tasa y tanque</span>
                    <label for="Codigo" class="lab">Codigo:</label>
                    <input type="text" name="Codigo_act" value="{{inod.Codigo}}" class="form-control inpt"  required>
                    <span class="span_codigo">Error !! solo mayúsculas y números</span>
                    <label for="Precio" class="lab">Precio:</label>
                    <input type="number" name="Precio_act" value="{{inod.Precio}}" class="form-control inpt" required>
                    <span class="span_precio">Error !! solo se aceptan números</span>
                    <label for="Precio_act" class="lab">Precio anterior:</label>
                    <input type="number" name="PrecioAnt_act" value="{{inod.PrecioAnt}}" class="form-control inpt">
                    <span class="span_PrecioAnt">Error !! solo se aceptan números</span>
                    <label for="Marca" class="lab">Marca:</label>
                    <input type="text" name="Marca_act" value="{{inod.Marca}}" class="form-control inpt" placeholder="" required>
                    <span class="span_marca">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Color" class="lab">Color:</label>
                    <input type="text" name="Color_act" value="{{inod.Color}}" class="form-control inpt" placeholder="" required>
                    <span class="span_color">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Material_act" class="lab">Material:</label>
                    <input type="text" name="Material_act" value="{{inod.Material}}" class="form-control inpt" placeholder="" required>
                    <span class="span_material">Error !! usar mayúsculas y minúsculas</span>
                  </div>
                  <div class="form-group Campos_P2">
                    <label for="Medida" class="lab">Medida:</label>
                    <input type="text" name="Medida_act" value="{{inod.Medida}}" class="form-control inpt" placeholder="" required>
                    <span class="span_medida">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Calidad" class="lab">Calidad:</label>
                    <input type="text" name="Calidad_act" value="{{inod.Calidad}}" class="form-control inpt" placeholder="" required>
                    <span class="span_calidad">Error !! usar mayúsculas y minúsculas</span>
                    <label for="Consumo_agua" class="lab">Consumo de agua:</label>
                    <input type="text" name="Consumo_agua_act" value="{{inod.Consumo_agua}}" class="form-control inpt" placeholder="" required>
                    <span class="span_consumo_agua">Error !! Ej: 5 Litros</span>
                    <label for="inptchaI" class="lab">Imagen:</label>
                    <input type="file" name="Imagen_act" class="form-control inpt" id="inptchaI">
                    <label for="inptchaI" class="lab">Imagen 2:</label>
                    <input type="file" name="IMG2_act" class="form-control inpt" id="inptchaI">
                    <div class="contenedor_files">
                      <!-- Se generará un formulario multipasos para poder agregar los campos para recaudar la imágenes-->
                    </div>
                    <button type="button" class="btn-cancelar" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button type="submit" class="float-right btn-registro">Actualizar</button>
                </div>  
            </form>
        </div>
    </div>
</div>
</div>
{%endfor%}
