{% for product in list_product_Grif %}
<!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
<div class="modal fade" tabindex="-1" id="Info{{product.Id_Maneral}}">
    <div class="modal-dialog">
      <div class="modal-content mmmop1 Mod_Grif_Cat">
        <div class="modal-body mmmop2 Mod_Grif_Cat" style="padding: 0 0 0 0;">
            <div class="imagen_defect22">
                <div class="img1" id="imag1"><img src="{{product.Imagen}}" alt="{{product.Nombre}}" class="imag1" ></div>
                <div class="img2"><img src="{{product.IMG2}}" alt="{{product.Nombre}}" class="imag2"></div>
            </div>
            <form class="form_reg rr2 " id="ACT_FRM">
                <div class="form-group campos_p">
                    <label for="Nombre" class="lab">Nombre:</label>
                    <input type="text" name="Nombre_act" value="{{product.Nombre}}" class="form-control inpt" readonly>
                    <label for="Precio" class="lab">Precio:</label>
                    <input type="number" name="Precio_act" value="{{product.Precio}}" class="form-control inpt" readonly>
                    <label for="PrecioAnt" class="lab">Precio anterior:</label>
                    <input type="number" name="PrecioAnt_act" value="{{product.PrecioAnt}}" class="form-control inpt" readonly>
                    <label for="Color" class="lab">Color:</label>
                    <input type="text" name="Color_act" value="{{product.Color}}" class="form-control inpt" readonly>
                    <label for="Marca_act" class="lab">Marca: </label>
                    <input type="text" name="Marca_act" class="form-control inpt" value="{{product.Marca}}" placeholder="" readonly>
                </div>
                <div class="form-group Campos_P2">
                    <label for="Material" class="lab">Material:</label>
                    <input type="text" name="Material_act" value="{{product.Material}}" class="form-control inpt" readonly>
                    <label for="Tipo_install" class="lab">Tipo de instalación:</label>
                    <input type="text" name="Tipo_install" value="{{product.Tipo_install}}" class="form-control inpt" readonly>
                </div>  
            </form>
        </div>
      </div>
    </div>
</div>
{%endfor%}
