<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Dispensadores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Catalogo.css">
    <link rel="stylesheet" href="/static/css/mod_info.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <header class="Cabecera_principal">
        <div class="cabeza">
            <a href="/Login" class="log">
                <img src="/static/img/Logo_circle.png" class="logo_g">
            </a>
            <p class="info_head">GLACER</p>
            <div class="buscador">
                <input type="text" class="barra_busq" id="search-bar" placeholder="Buscar ...">
                <div class="icono" id="span_icono"><i class="fa fa-search" style="color: #1f1f1f; font-size: 19px; padding: 3px 0 0 5px;"></i></div>
            </div>
            <div class="name_comp">
                <p class="info_head glamour" style="text-align: center;">GLACER</p>
                <p class="info_head tlaco">Glamour Cerámico</p>
            </div>
        </div>
        <div class="menu">
            <div class="name_depa">Departamento: 
                <details class="sub_men">
                    <summary class="sum" style="list-style: none;">Grifería</summary>
                    <div class="opppp">
                        <a href="/Catalogo_PM" class="option111">Pisos y Muros</a>
                        <a href="/Catalogo_Banos" class="option111">Baños</a>
                        <a href="/Catalogo_Ofertas" class="option111">Ofertas</a>
                    </div>
                </details>
            </div>
            <div class="barra_menu PM_menu">
                <details class="sub_men sub_Piso">
                    <summary class="sum" style="list-style: none; color: white; ">Sección 1</summary>
                    <div class="opppp" style="z-index: 9999;">
                        <a href="#" class="option111" style="background-color: rgb(240, 240, 240); color: black;">Elija una opción</a>
                        <a href="/Cat_AccesoriosB" class="option111">Accesorios</a>
                        <a href="/Cat_Asientos" class="option111">Asientos</a>
                        <a href="/Cat_Brazos" class="option111">Brazos</a>
                        <a href="/Cat_Calentadores_P" class="option111">Calentador P</a>
                        <a href="/Cat_Calentador_S" class="option111">Calentador S</a>
                        <a href="/Cat_Campanas" class="option111">Campanas</a>
                    </div>
                </details>
                <details class="sub_men sub_Piso">
                    <summary class="sum" style="list-style: none; color: white; ">Sección 2</summary>
                    <div class="opppp" style="z-index: 9999;">
                        <a href="#" class="option111" style="background-color: rgb(240, 240, 240); color: black;">Elija una opción</a>
                        <a href="/Cat_Cenefas" class="option111">Cenefas</a>
                        <a href="/Cat_Cespols" class="option111">Cespols</a>
                        <a href="/Cat_Contracanasta" class="option111">Contracanastas</a>
                        <a href="/Cat_Dispensadores" class="option111">Dispensadores</a>
                        <a href="/Cat_Espejos" class="option111">Espejos</a>
                        <a href="/Cat_Herramientas_Col" class="option111">Herramientas C</a>
                    </div>
                </details>
                <details class="sub_men sub_Piso">
                    <summary class="sum" style="list-style: none; color: white; ">Sección 3</summary>
                    <div class="opppp" style="z-index: 9999;">
                        <a href="#" class="option111" style="background-color: rgb(240, 240, 240); color: black;">Elija una opción</a>
                        <a href="/Cat_Impermeabilizantes" class="option111">Impermeabilizantes</a>
                        <a href="/Cat_Kit_Install" class="option111">Kit de instalación</a>
                        <a href="/Cat_Mallas" class="option111">Mallas</a>
                        <a href="/Cat_Manerales" class="option111">Manerales</a>
                        <a href="/Cat_Mezcladoras" class="option111">Mezcladoras</a>
                        <a href="/Cat_Monomandos" class="option111">Monomandos</a>
                    </div>
                </details>
                <details class="sub_men sub_Piso">
                    <summary class="sum" style="list-style: none; color: white; ">Sección 4</summary>
                    <div class="opppp" style="z-index: 9999;">
                        <a href="#" class="option111" style="background-color: rgb(240, 240, 240); color: black;">Elija una opción</a>
                        <a href="/Cat_Organizadores" class="option111">Organizadores</a>
                        <a href="/Cat_Paneles_Canceles" class="option111">Paneles</a>
                        <a href="/Cat_Parrillas" class="option111">Parrillas</a>
                        <a href="/Cat_Perfiles" class="option111">Perfiles</a>
                        <a href="/Cat_Persianas" class="option111">Persianas</a>
                        <a href="/Cat_Regaderas" class="option111">Regaderas</a>
                    </div>
                </details>
                <details class="sub_men sub_Piso">
                    <summary class="sum" style="list-style: none; color: white; ">Sección 5</summary>
                    <div class="opppp" style="z-index: 9999;">
                        <a href="#" class="option111" style="background-color: rgb(240, 240, 240); color: black;">Elija una opción</a>
                        <a href="/Cat_Repisas" class="option111">Repisas</a>
                        <a href="/Cat_Resumideros" class="option111">Resumideros</a>
                        <a href="/Cat_Separadores" class="option111">Separadores</a>
                        <a href="/Cat_Tarjas" class="option111">Tarjas</a>
                        <a href="/Cat_Tinas" class="option111">Tinas</a>
                    </div>
                </details>
                <a href="/" class="opcion opt_uno">Inicio</a>
                <button onclick="goBack()" class="opcion opt_cinco">Atrás</button>
            </div>
        </div>
    </header>
    <main class="principal">
        <h1 class="text-center titulo_cata" style="z-index: 2;">Dispensadores</h1>
        <div id="no-results-message" class="text-center" style="display: none; width: 100%; text-align: left; margin-top: 50px; padding-left: 50px;">
            <h2 style="text-align: left; font-size: 17px; color: dark-gray;">Sin resultados para: <span id="search-query" style="color: red;"></span></h2>
        </div>
        <div class="tarjeta-container">
            {% include 'Modales/Mod_Grif/Dispensadores.html'%}
            {% for product in list_product_Grif %}
            <div class="card product-card">
                <img src="{{ product.Imagen }}" alt="{{ product.Nombre }}">
                <div class="card-body text-center">
                    <h3>{{ product.Nombre }}</h3>
                    <div class="datos_p">
                        <p class="precio">$ {{ product.Precio }} <span class="e">MX</span></p>
                        <p class="precioAnt"><s class="s">$ {{ product.PrecioAnt }}</s> <span class="e">MX</span></p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="medida_cata">{{ product.Marca }}<span class="mx"></span></p>
                    <button class="prin_btn btn-mas" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#Info{{product.Id_Dispensador}}">Más</button>
                </div>
            </div>
            {% endfor %}
        </div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="/static/js/atras.js"></script>
</body>
</html>
