<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Panel_Adm.css">
    <link rel="stylesheet" href="/static/css/modales.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/grif.css">
</head>
<body>
    <header>
        <img src="/static/img/Logo_circle.png" class="logo_g">
        <p class="info_head">GLACER</p>
        <div class="P_marc">
            <button class="optmed-btn" id="vit-20" data-bs-toggle="modal" data-bs-target="#Mvitro">Vitromex</button></li>
            <button class="optmed-btn" id="vit-21" data-bs-toggle="modal" data-bs-target="#Mdaltile">Daltile</button></li>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Castel</summary>
                    <div class="opppp">
                        <a href="/Cast_60x60" class="option111">60x60</a>
                        <a href="/Cast_60x120" class="option111">60x120</a>
                        <a href="/Cast_duelas" class="option111">Duelas</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Minato</summary>
                    <div class="opppp">
                        <a href="/Minato_30x45" class="option111">30x60</a>
                        <a href="/Minato_30x60" class="option111">60x60</a>
                        <a href="/Minato_60x60" class="option111">60x120</a>
                        <a href="/Minato_60x120" class="option111">Más</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Tecnopiso</summary>
                    <div class="opppp">
                        <a href="/Tecno_30x60" class="option111">30x60</a>
                        <a href="/Tecno_otras" class="option111">Más</a>
                        <a href="/Tecno_duelas" class="option111">Duelas</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Cesantoni</summary>
                    <div class="opppp">
                        <a href="/Cesa_30x60" class="option111">30x60</a>
                        <a href="/Cesa_otras" class="option111">Más</a>
                        <a href="/Cesa_duelas" class="option111">Duelas</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Greda</summary>
                    <div class="opppp">
                        <a href="/Gred_30x45" class="option111">30x45</a>
                        <a href="/Gred_30x60" class="option111">30x60</a>
                        <a href="/Gred_otras" class="option111">Otras</a>
                    </div>
                </details>
            </div>
        </div>
        <!--<p class="info_head panel_name">PANEL DE ADMINISTRADOR</p>-->
        <div class="name_U"><p class="pipipi">{{hola}}</p></div><i class="fa fa-power-off" id="ckn"></i>
        <span style="display: none;" id="span_privilegio">{{privilegio}}</span>
    </header>
    <form action="{{ url_for('logout') }}" method="post" class="off">
        <button type="submit" class="off_S hiddentico" id="Cerrar_sesion">Cerrar sesión</button>
    </form>
    <div class="sub_head">
        <button onclick="goBack()" class="btn btn-primary" id="atras" style="width: 7%;">Atrás</button>
        <h3 class="title_grif">Categorias</h3>
    </div>
    <div class="menu">
        <a href="/Inodoros" class="grif enlace_cat" style="border-top-left-radius: 5px;">Inodoros</a>
        <a href="/Migitorios" class="grif enlace_cat">Migitorios</a>
        <a href="/Lavabos" class="grif enlace_cat">Lavabos</a>
        <a href="/Kit_sans" class="grif enlace_cat">Kit Sanitario</a>
        <a href="/Ovalines" class="grif enlace_cat">Ovalines</a>
        <a href="/Tinacos" class="grif enlace_cat" style="border-top-right-radius: 5px;">Tinacos</a>
        <a href="/Tocadores" class="grif enlace_cat">Tocadores</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="/static/js/atras.js"></script>
</body>
</html>
