<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Glacer Atlacomulco Vías</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <!--<header class="Cabecera_principal" id="header">
        <div class="cabeza">
            <a href="/Login" class="log">
                <img src="/static/img/Logo_circle.png" class="logo_g">
            </a>
            <p class="info_head">GLACER</p>
            <div class="name_comp">
                <p class="info_head glamour">GLACER</p>
                <p class="info_head tlaco">Glamour Cerámico</p>
            </div>
        </div>
        <div class="menu">
            <div class="barra_menu">
                <a href="#" class="opcion opt_uno">Inicio</a>
                <a href="#" class="opcion opt_dos">Marcas</a>
                <a href="#depas" class="opcion opt_tres">Departamentos</a>
                <a href="#quien" class="opcion opt_cuatro">Acerca de</a>
                <a href="#quien" class="opcion opt_cinco">Contáctanos</a>
            </div>
        </div>
    </header>-->
    <header class="Cabecera_principal" id="header">
        <div class="cabeza">
            <a href="/Login" class="log">
                <img src="/static/img/Logo_circle.png" class="logo_g">
            </a>
            <p class="info_head">GLACER</p>
            <div class="name_comp">
                <p class="info_head glamour">GLACER</p>
                <p class="info_head tlaco">Glamour Cerámico</p>
            </div>
        </div>
        <div class="menu">
            <div class="barra_menu">
                <a href="#" class="opcion opt_uno">Inicio</a>
                <a href="#" class="opcion opt_dos">Marcas</a>
                <a href="#depas" class="opcion opt_tres">Departamentos</a>
                <a href="#quien" class="opcion opt_cuatro">Acerca de</a>
                <a href="#quien" class="opcion opt_cinco">Contáctanos</a>
            </div>
        </div>
    </header>
    <main class="cuerpo">
        <div class="bienvenida">
            <div class="gradiente">
                <h3 class="title_B">Bienvenidos a GLACER</h3>
                <h4 class="subtitle_B">Tenemos variedad de losetas para decorar tu hogar</h4>
                <a href="/Productos" class="ver_prod">Ver productos</a>
            </div>
        </div>
        <div class="seccion_Marcas">
            <h3 class="marcas">DISPONIBILIDAD EN MARCAS</h3>
            <div class="conten_marcas uno">
                <div class="marca">
                    <img src="/static/img/Logos/Carrara_MT_Bianco.jpg" class="imagen" alt="Vitromex">
                    <a href="/Vitromex_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="nombre_marca log_vitro"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/Daltile NaviaBeige.jpg" class="imagen" alt="Daltile">
                    <a href="/Dalt_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_daltile"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/PRAGA.webp" class="imagen" alt="Greda">
                    <a href="/Gred_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_greda"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/Brina White Brillo.webp" class="imagen" alt="Castel">
                    <a href="/Cast_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_castel"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/Tecno_GreyTech.jpg" class="imagen" alter="Tecnopiso">
                    <a href="/Tecnopiso_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_tecno"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/minato.webp" class="imagen" alt="Minato">
                    <a href="/Mina_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_minato"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/Cesantoni_Tavali.jpg" class="imagen" alt="Cessatoni">
                    <a href="/Cesantoni_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_cessatoni"></div>
                </div>
                <div class="marca">
                    <img src="/static/img/Logos/ARKO_EndimburgoNegro.jpg" class="imagen" alt="ARKO">
                    <a href="/Arko_Masvend" class="enlace">
                        <div class="capa">
                            <p class="verP">Ver productos</p>
                        </div>
                    </a>
                    <div class="log_arko"></div>
                </div>
            </div>
        </div>
        <section class="Seccion_Depa" id="depas">
            {% include 'Modales/Distribuidor.html'%}
            <h3 class="departamentos">DEPARTAMENTOS</h3>
            <div class="depas">
                <div class="depa B">
                    <a href="/Catalogo_Banos" class="PM" style="text-decoration: none;">
                        <div class="opacidad">
                            <h4 class="nom_depa">BAÑOS</h4>
                        </div>
                    </a>
                </div>
                <div class="depa PM">
                    <a href="/Catalogo_PM" class="PM" style="text-decoration: none;">
                        <div class="opacidad">
                            <h4 class="nom_depa">PISOS Y MUROS</h4>
                        </div>
                    </a>
                </div>
                <div class="depa G"> 
                    <a href="/Griferia" class="PM" style="text-decoration: none;">
                        <div class="opacidad">
                            <h4 class="nom_depa">GRIFERÍA</h4>
                        </div>
                    </a>
                </div>
                <div class="depa OF">
                    <a href="/Catalogo_Ofertas" class="PM" style="text-decoration: none;">
                        <div class="opacidad">
                            <div class="descuento">
                                <p class="ahorro">AHORRA HASTA UN</p>
                                <p class="porcentaje">20%</p>
                            </div>
                            <h4 class="nom_depa ofe">OFERTAS</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="distribuidor">
                <div class="triangulo_rojo">
                    <p class="mensaje">¿QUIERES SER DISTRIBUIDOR?</p>
                </div>
                <button class="nuevo-btn info" id="btn-moreInfo" data-bs-toggle="modal" data-bs-target="#distribuidor">MÁS INFORMACIÓN</button>
            </div>
        </section>
        <section class="Seccion_acerca" id="quien">
            <h3 class="acerca">QUIÉNES SOMOS</h3>
            <div class="contenet_acerca">
                <div class="cuadro_rojo">
                    <h4 class="t_1 nosotros">Nosotros</h4>
                    <p class="descripcion">Somos una empresa dedicada a la comercialización de acabados y recubrimientos en productos de cerámica, porcelánicos, muebles para baño, decorados, adhesivos especializados y grifería, entre otros complementos enfocados a la construcción de obra blanca, para interiores y exteriores. </p>
                </div>
                <div class="cuadro_rojo">
                    <h4 class="t_1 mision">Misión</h4>
                    <p class="descripcion">Ser una empresa distinguida por la calidad y variedad en productos de cerámica, porcelánicos, muebles para baño, decorados, y recubrimientos para el acabado de interiores y exteriores. ofreciendo un servicio agradable, alto en valores, con personal capacitado y precios competitivos en el mercado. </p>
                </div>
                <div class="cuadro_rojo">
                    <h4 class="t_1 vision">Visión</h4>
                    <p class="descripcion">Ser líderes en el mercado de los acabados y recubrimientos para obra blanca, trabajando con pasión e innovando constantemente para ofrecer el mejor servicio, así como los mejores productos respondiendo siempre a las tendencias de la construcción. </p>
                </div>
            </div>
        </section>
    </main>
    <footer class="pie">
        <div class="cn Direccion">
            <h5 class="direc">Dirección</h5>
            <i class="fa fa-map-marker"  style="color: white; display: inline-block; translate: 0 -19px"></i><p class="directo" style=" display: inline-block; margin-left: 10px;">Av. Arturo Montiel Rojas no. 17, col. zona industrial, Atlacomulco, Estado de México.</p>
        </div>
        <div class="cn Telefonos">
            <h5 class="direc">Teléfonos</h5>
            <p class="directo tel"><i class="fa fa-phone"></i> +55 52 43 78 65 10</p>
            <p class="directo tel"><i class="fa fa-phone"></i> +55 71 22 16 44 03</p>
        </div>
        <div class="cn Correo">
            <h5 class="direc">Coreo</h5>
            <p class="directo tel"><i class="fa fa-paper-plane"></i> admon_corporativo@yahoo.com.mx</p>
        </div>
        <div class="cn Redes">
            <h5 class="direc">Redes sociales</h5>
            <p class="directo tel"><i class="fa fa-facebook" style="color: white;"></i> Glacer_Vitromex_las_Vías</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="static/js/Distribuidor.js"></script>
</body>
</html>