<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Pruebas de estructura</title>
     
</head>
<body>
    
    <h2 class="title" style="margin: 10px auto; font-family: Arial;">Pruebas de estructura</h2>
    <div class="entero" style="display: grid; grid-template-columns: 1fr 2fr; grid-auto-rows: 1fr; background-color: gray;">
        <div class="uno" style="background-color: blue;"></div>
        <div class="dos" style="background-color: red;"></div>        
    </div>
</body>
