<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Panel de administrador</title>
    <link rel="stylesheet" href="/static/css/Panel_Adm.css">
    <link rel="stylesheet" href="/static/css/modales.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <img src="/static/img/Logo_circle.png" class="logo_g">
        <p class="info_head">GLACER</p>
        <div class="P_marc">
            <button class="optmed-btn" id="vit-20" data-bs-toggle="modal" data-bs-target="#Mvitro">Vitromex</button></li>
            <button class="optmed-btn" id="vit-21" data-bs-toggle="modal" data-bs-target="#Mdaltile">Daltile</button></li>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Castel</summary>
                    <div class="opppp">
                        <a href="/Cast_60x60" class="option111">60x60</a>
                        <a href="/Cast_60x120" class="option111">60x120</a>
                        <a href="/Cast_duelas" class="option111">Duelas</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Minato</summary>
                    <div class="opppp">
                        <a href="/Minato_30x45" class="option111">30x60</a>
                        <a href="/Minato_30x60" class="option111">60x60</a>
                        <a href="/Minato_60x60" class="option111">60x120</a>
                        <a href="/Minato_60x120" class="option111">Más</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Tecnopiso</summary>
                    <div class="opppp">
                        <a href="/Tecno_30x60" class="option111">30x60</a>
                        <a href="/Tecno_otras" class="option111">Más</a>
                        <a href="/Tecno_duelas" class="option111">Duelas</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Cesantoni</summary>
                    <div class="opppp">
                        <a href="/Cesa_30x60" class="option111">30x60</a>
                        <a href="/Cesa_otras" class="option111">Más</a>
                        <a href="/Cesa_duelas" class="option111">Duelas</a>
                    </div>
                </details>
            </div>
            <div class="list barra_menu">
                <details class="sub_men">
                    <summary class="sum">Greda</summary>
                    <div class="opppp">
                        <a href="/Gred_30x45" class="option111">30x45</a>
                        <a href="/Gred_30x60" class="option111">30x60</a>
                        <a href="/Gred_otras" class="option111">Otras</a>
                    </div>
                </details>
            </div>
        </div>
        <!--<p class="info_head panel_name">PANEL DE ADMINISTRADOR</p>-->
        <div class="name_U"><p class="pipipi">{{hola}}</p></div><i class="fa fa-power-off" id="ckn"></i>
        <span style="display: none;" id="span_privilegio">{{privilegio}}</span>
    </header>
    <form action="{{ url_for('logout') }}" method="post" class="off">
        <button type="submit" class="off_S hiddentico" id="Cerrar_sesion">Cerrar sesión</button>
    </form>
    {% include 'Modales/Menu_vitro.html'%}
    {% include 'Modales/Menu_daltile.html'%} 
    <div class="contenedorsote">
        <div class="menu_lateral barra_menu">
            <ul class="list_prin" style="padding-left: 0px;">
                <details class="cont_morP">
                    <summary class="mas_prod"><i class="fa fa-cart-plus" style="color: #242424;"></i> Productos</summary>
                    <div class="opt_panel_admin">
                        <a href="/Pisos_Vitromex" class="option111 agreg_p" id="agreg_p"><i class="fa fa-plus-circle" id="faPlus"></i> Vitromex</a>
                        <a href="/Pisos_Daltile" class="option111 agreg_p" id="agreg_p"><i class="fa fa-plus-circle" id="faPlus"></i> Daltile</a>
                        <a href="/Pisos_Minato" class="option111 agreg_p" id="agreg_p"><i class="fa fa-plus-circle" id="faPlus"></i> Minato</a>
                    </div>
                </details>
                <li type="none" class="chale"><a href="/griferia" class="Enlace" id="Enlace"><i class="fa fa-shower" style="color: #242424;"></i> Grifería</a></li>
                <li type="none" class="chale"><a href="/Banos" class="Enlace" id="Enlace"><i class="fa fa-toilet" style="color: #242424;"></i> Baños</a></li>  
                <details class="cont_morP">
                    <summary class="mas_prod"><i class="fa fa-tags" style="color: #242424;"></i> Ofertas</summary>
                    <div class="opt_panel_admin">
                        <a href="/OFF_PM" class="option111 agreg_p" id="agreg_p"><i class="fa fa-box" id="faPlus"></i> Losetas</a>
                        <a href="/OFF_GB" class="option111 agreg_p" id="agreg_p"><i class="fa fa-shower" id="faPlus"></i> Griferia</a>
                    </div>
                </details>             
                <details class="cont_morP">
                    <summary class="jeje" style="text-align: right; padding-right: 30px;"><i class="fa fa-comments-dollar" style="color: #242424;"></i> <span style="margin-left: 5px;">Lo más vendido</span></summary>
                    <div class="opt_panel_admin masvend_opt">
                        <a href="/Vitro_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Vitromex</a>
                        <a href="/Daltile_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Daltile</a>
                        <a href="/Minato_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Minato</a>
                        <a href="/Castel_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Castel</a>
                        <a href="/Cesant_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Cesantoni</a>
                        <a href="/Greda_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Greda</a>
                        <a href="/Tecno_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Tecnopiso</a>   
                        <a href="/Ark_Masvend" class="option111 agreg_p" id="agreg_p"><i class="fa fa-chevron-right" id="faPlus"></i> Arko</a>
                    </div>
                </details>
                <details class="cont_morP" id="Btn-Users">
                    <summary class="mas_prod"><i class="fa fa-users" style="color: #242424;"></i> Usuarios</summary>
                    <div class="opt_panel_admin">
                        <a href="/Admins" class="option111 agreg_p" id="agreg_p"><i class="fa fa-user-circle" id="faPlus"></i> Admins</a>
                        <a href="/subAdmins" class="option111 agreg_p" id="agreg_p"><i class="fa fa-user-circle" id="faPlus"></i> Subadmins</a>
                    </div>
                </details>  
            </ul>
        </div>
        <!--<button class="btn btn-info mt-4 ues-btn" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#actualizar-Registro">Guardar</button>-->
        <!--<form action="" method="post" class="form_reg form_V">-->

        <div class="formulario_vitroP mmmop2 op22">
            <div class="imagen_defect2">.</div>
                <form action="/regVitro_productos" method="post" class="form_reg rr2 form_V" enctype="multipart/form-data">
                    <div class="form-group campos_p P_altura">
                        <label for="Nombre" class="lab">Nombre:</label>
                        <input type="text" name="Nombre" class="form-control inpt" required>
                        <span class="span_text">Error !! el formato a seguir es: Lake Beige</span>
                        <label for="Codigo" class="lab">Codigo:</label>
                        <input type="text" name="Codigo" class="form-control inpt" placeholder="" required>
                        <span class="span_codigo">Error !! solo mayúsculas y números</span>
                        <label for="Precio" class="lab">Precio:</label>
                        <input type="number" name="Precio" class="form-control inpt" required>
                        <span class="span_precio">Error !! solo se aceptan números</span>
                        <label for="Material" class="lab">Material:</label>
                        <input type="text" name="Material" class="form-control inpt" required>
                        <span class="span_material">Error !! usar mayúsculas y minúsculas</span>
                        <label for="Acabado" class="lab">Acabado:</label>
                        <input type="text" name="Acabado" class="form-control inpt" required>
                        <span class="span_acabado">Error !! usar mayúsculas y minúsculas</span>
                        <label for="Marca" class="lab">Marca: </label>
                        <input type="text" name="Marca" class="form-control inpt" placeholder="" value="Vitromex" readonly>
                        <span class="span_marca">Error !! debe seleccionar una opción.</span>
                        <label for="Calidad" class="lab">Calidad:</label>
                        <input type="text" name="Calidad" class="form-control inpt" placeholder="" Value="Primera" readonly>
                        <span class="span_calidad">Error !! debe seleccionar una opción</span>
                    </div>
                    <div class="form-group Campos_P2 P2_altura">
                        <label for="PrecioAnt" class="lab">Precio anterior:</label>
                        <input type="number" name="PrecioAnt" class="form-control inpt" placeholder="" required>
                        <span class="span_PrecioAnt">Error !! el precio es obligatorio</span>
                        <label for="Color" class="lab">Color:</label>
                        <input type="text" name="Color" class="form-control inpt" placeholder="" required>
                        <span class="span_color">Error !! usar mayúsculas y minúsculas</span>
                        <label for="Medida" class="lab">Medida:</label>
                        <select name="Medida" id="Medida" class="form-control inpt" required>
                          <option value="" selected disabled class="disable" sytle="color: gray;">Selecciona una opción </option>
                          <option value="20x20" class="form-control">20x20</option>
                          <option value="20x30" class="form-control">20x30</option>
                          <option value="30x60" class="form-control">30x60</option>
                          <option value="36x36" class="form-control">36x36</option>
                          <option value="36x50" class="form-control">36x50</option>
                          <option value="37x37" class="form-control">37x37</option>
                          <option value="45x45" class="form-control">45x45</option>
                          <option value="50x100" class="form-control">50x100</option>
                          <option value="55x55" class="form-control">55x55</option>
                          <option value="60x60" class="form-control">60x60</option>
                          <option value="60x120" class="form-control">60x120</option>
                          <option value="61x61" class="form-control">61x61</option>
                          <option value="62x62" class="form-control">62x62</option>
                        </select>
                        <span class="span_medida">Error !! debe seleccionar una opción</span>
                        <label for="Contenido" class="lab">Contenido:</label>
                        <input type="number" name="Contenido" class="form-control inpt" required>
                        <span class="span_contenido">Error !! solo se aceptan números</span>
                        <label for="inptchaI" class="lab">Imagen:</label>
                        <input type="file" name="Imagen" class="form-control inpt" id="inptchaI" required>
                        <label for="inptchaI" class="lab">Imagen 2:</label>
                        <input type="file" name="IMG2" class="form-control inpt" id="inptchaI" required>
                        <button type="submit" class="float-right btn-registro Form_Gen">Registrar</button>
                    </div>  
                </form>
            </div>
        </div>
    <footer class="pie"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="static/js/instrucciones.js"></script>
    <script src="static/js/Form_regVitro.js"></script>
    <script src="/static/js/atras.js"></script>
</body>
</body>
</html>