<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/Logo_G.ico">
    <title>Lavabos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Catalogo.css">
    <link rel="stylesheet" href="/static/css/mod_info.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <header class="Cabecera_principal">
        <div class="cabeza">
            <a href="/Login" class="log">
                <img src="/static/img/Logo_circle.png" class="logo_g">
            </a>
            <p class="info_head">GLACER</p>
            <div class="buscador">
                <input type="text" class="barra_busq" id="search-bar" placeholder="Buscar ...">
                <div class="icono" id="span_icono"><i class="fa fa-search" style="color: #1f1f1f; font-size: 19px; padding: 3px 0 0 5px;"></i></div>
            </div>
            <div class="name_comp">
                <p class="info_head glamour" style="text-align: center;">GLACER</p>
                <p class="info_head tlaco">Glamour Cerámico</p>
            </div>
        </div>
        <div class="menu">
            <div class="name_depa">Departamento: 
                <details class="sub_men">
                    <summary class="sum" style="list-style: none;">Baños</summary>
                    <div class="opppp">
                        <a href="/Catalogo_PM" class="option111">Pisos y Muros</a>
                        <a href="/Griferia" class="option111">Grifería</a>
                        <a href="/Catalogo_Ofertas" class="option111">Ofertas</a>
                    </div>
                </details>
            </div>
            <div class="barra_menu PM_menu">
                <details class="sub_men sub_Piso">
                    <summary class="sum" style="list-style: none; color: white; ">Sección 1</summary>
                    <div class="opppp" style="z-index: 9999;">
                        <a href="#" class="option111" style="background-color: rgb(240, 240, 240); color: black;">Elija una opción</a>
                        <a href="/Cat_Inodoros" class="option111">Inodoros</a>
                        <a href="/Cat_Kit_san" class="option111">Kits sanitarios</a>
                        <a href="/Cat_Lavabos" class="option111">Lavabos</a>
                        <a href="/Cat_Migitorios" class="option111">Migitorios</a>
                        <a href="/Cat_Ovalines" class="option111">Ovalines</a>
                        <a href="/Cat_Tinacos" class="option111">Tinacos</a>
                        <a href="/Cat_Tocadores" class="option111">Tocadores</a>
                    </div>
                </details>
                <a href="/" class="opcion opt_uno">Inicio</a>
                <button onclick="goBack()" class="opcion opt_cinco">Atrás</button>
            </div>
        </div>
    </header>
    <main class="principal">
        <h1 class="text-center titulo_cata" style="z-index: 2;">Lavabos</h1>
        <div id="no-results-message" class="text-center" style="display: none; width: 100%; text-align: left; margin-top: 50px; padding-left: 50px;">
            <h2 style="text-align: left; font-size: 17px; color: dark-gray;">Sin resultados para: <span id="search-query" style="color: red;"></span></h2>
        </div>
        <div class="tarjeta-container">
            {% include 'Modales/Mod_Ban/modal_info_lav.html'%}
            {% for product in list_product_Ban %}
            <div class="card product-card">
                <img src="{{ product.Imagen }}" alt="{{ product.Nombre }}">
                <div class="card-body text-center">
                    <h3>{{ product.Nombre }}</h3>
                    <div class="datos_p">
                        <p class="precio">$ {{ product.Precio }} <span class="e">MX</span></p>
                        <p class="precioAnt"><s class="s">$ {{ product.PrecioAnt }}</s> <span class="e">MX</span></p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="medida_cata">{{ product.Medida }}<span class="mx">CM</span></p>
                    <button class="prin_btn btn-mas" id="formulario_actualizar" data-bs-toggle="modal" data-bs-target="#Info{{product.Id_Lavabo}}">Más</button>
                </div>
            </div>
            {% endfor %}
        </div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    <script src="/static/js/atras.js"></script>
</body>
</html>
